/* ------------------------
common styles or utilities
------------------------- */
* {
  /* margin: 0; */
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
section{
  margin-top: 3rem;
}
.span-color-primary,
.features-description,
.features-secondary-text,
.facts-description,
.sponsors-description {
  color: #727272;
}
/* -------------------
navbar section styles
---------------------- */
.navbar {
  display: flex;
  background-color: rgba(255, 144, 14, 0.1);
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
}

.navbar > ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
/* -------------------
banner section styles
--------------------- */
.banner-container {
  background-color: rgba(255, 144, 14, 0.1);
  text-align: center;
  margin: 0;
}
.banner-items {
  padding: 2rem;
}
.banner-title {
  font-size: 35px;
  font-weight: 700;
}
.banner-description {
  font-size: 14px;
  color: #727272;
  width: 60%;
  margin: 0 auto;
}
.banner-btn,
.features-primary-btn {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #ff900e;
  border-radius: 8px;
  border-style: none;
  padding: 15px 20px;
  margin-top: 1rem;
}
.banner-image {
  width: 840px;
  height: 400px;
  display: block;
  margin: auto;
}
/* --------------------
features section styles
----------------------- */

/* features primary */

.features-primary-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* .features-description{
  width: 80%;
} */
.feature-image {
  width: 250px;
}
.features-primary-info > ul {
  list-style: none;
}
.span-color-secondary {
  color: #ff900e;
}

/* features secondary */
.features-secondary-info{
  padding: 1em;
}
.features-secondary-items {
  display: flex;
  align-items: center;
}
.features-primary-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.features-secondary-title {
  font-size: 40px;
  font-weight: 700;
  border-left: 3px solid #ff900e;
  padding: 0 1rem;
}
.img-architect {
  height: 900px;
  width: 550px;
}
.features-secondary-text-items {
  padding-left: 1.5rem;
}
.features-secondary-btn {
  position: relative;
}
.experience-btn {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ff900e;
  padding: 15px 20px;
  border-radius: 5px;
  border-style: none;
  position: absolute;
  right: 420px;
  bottom: -40px;
}
.btn-text {
  font-size: 20px;
}
/* -----------------
facts section styles
------------------- */
.facts-activities {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 50px;
}
.facts-items{
  padding: 1em;
}
/* -------------------------------------------------
  transform, transition, and animation styles start
  ------------------------------------------------- */
  .awards-activity{
  width: 150px;
  padding: 1em 2em;
  border-radius: 5px;
  border: 1px solid #ff900e;
  transition: 4s;
  float: left;
  transition-duration: 5s;
}
.awards-activity:hover {
  transform: rotate(360deg);
}


.projects-activity {
  width: 150px;
  padding: 1em 2em;
  border-radius: 5px;
  border: 1px solid #ff900e;
}
.projects-activity:hover{
  animation-name: on-off;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out; 
  animation-delay:0.5;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  color: #ffffff;
}
@keyframes on-off {
  0%{
    background-color: rgb(217, 65, 95);
  }
  100%{
    background-color: rgba(67, 185, 232, 0.895);
  }
}

.customers-activity {
  width: 150px;
  padding: 1em 2em;
  border-radius: 5px;
  border: 1px solid #ff900e;
  transition: 4s;
  transition-duration: 5s;
}
.customers-activity:hover {
  transform: rotate(360deg);
}
.emails-activity {
  width: 150px;
  padding: 1em 2em;
  border-radius: 5px;
  border: 1px solid #ff900e;
}
.emails-activity:hover{
  animation-name: text;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out; 
  animation-delay:0.5;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  color: #ffffff;
}
@keyframes text {
  0%{
    background-color: rgb(87, 187, 226);
  }
  100%{
    background-color: rgb(217, 65, 95);
  }
}

/* -----------------------------------------------
  transform, transition, and animation styles end
  ------------------------------------------------ */

.facts-title {
  font-size: 40px;
  font-weight: 700;
}

/* --------------------
sponsors section styles
----------------------- */
.sponsors-items {
  text-align: center;
  margin-bottom: 50px;
}
.sponsors-title {
  font-size: 40px;
  font-weight: 700;
}
.logo {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
/* ------------------ 
comment section styles
-------------------- */
.comment {
  text-align: center;
  background-color: #0a0606;
  color: #ffffff;
  padding: 20px;
}
.comment-title {
  font-size: 40px;
  font-weight: 700;
}
.submit-btn {
  background-color: #ff900e;
  color: #ffffff;
  padding: 15px 25px;
  border-style: none;
  border-radius: 10px;
}
/* ----------
footer styles 
------------- */
footer {
  background-color: #fff4e7;
  padding: 20px;
  text-align: center;
}
/* -------------------------------
responsive styles by media query 
-------------------------------- */
/* responsive navbar */
@media only screen and (max-width: 576px) {
  .navbar > ul {
    flex-direction: column;
    gap: 10px;
  }

  /* responsive banner */
  .banner-title {
    font-size: 30px;
    font-weight: 500;
  }
  .banner-description {
    width: 100%;
    font-size: 12px;
  }
  .banner-btn {
    font-size: 12px;
  }
  .banner-image {
    width: 90%;
    height: 100%;
  }
  /* responsive features */
  .features-primary-images {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .features-primary-items {
    flex-direction: column;
  }
  .features-primary-info {
    text-align: center;
  }
  .features-secondary-items {
    flex-direction: column;
    text-align: center;
  }
  .features-secondary-title {
    font-size: 30px;
    font-weight: 500;
    border-left: none;
    padding: 0;
  }
  .features-secondary-image {
    width: 100%;
    height: 100%;
  }
  .img-architect {
    width: 100%;
    height: 100%;
  }
  .features-secondary-btn {
    text-align: center;
    margin-top: 20px;
  }
  .experience-btn {
    position: static;
    font-size: 30px;
    left: 115px;
  }
  /* responsive facts */
  .facts-activities {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .facts-title {
    margin-top: 3em;
    font-size: 30px;
    font-weight: 500;
  }
  .facts-items {
    text-align: center;
  }
  /* responsive sponsor */
  .logo {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
